.header {
  position: fixed;
  width: 100vw;
}

.header h1 {
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
  font-size: 40px;

  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  background-clip: text;
  display: flex;
  align-items: center;

  color: #f05f40;
}

.h1-text {
  margin: 0;
  font-size: 35px;
  margin-top: 3px;
}

.main {
  height: 100vh;
  background-image: url('../image/bg.gif');
  background-size: cover;
  min-height: 700px;
}

.main-content {
  position: relative;
  top: 30%;
}

#main-heading {
  margin-top: 0;
  font-size: 50px;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
  background-clip: text;
}
.main-content .line {
  border: 2px solid #f05f40;
  width: 50px;
  margin: 0 auto;
  margin-top: 35px;
}

.main-intro {
  font-family: "Merriweather";
  font-size: 18px;
  color: rgba(255,255,255,.7);
  width: 60vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  line-height: 1.5;
  text-shadow: 2px 2px 3px rgba(255,0,0,0.2);

  color: #f05f40;
}

.action {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: #fff;
  background-color: #BC3500;
  padding: 15px 30px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

.country-list {
  height: 100vh;
  background-color: rgb(154, 53, 40);
  padding-top: 75px;
}

#main-service {
  margin-top: 0;
  font-size: 3em;
  font-family: "Open Sans";
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.services {
  display: flex;
  justify-content: space-between;
}

.service-box {
  margin-top: 50px;
  height: 150px;
  width: 350px;
  height: 253px;
  /*background-color: rgba(24,188,156,.9);*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.one {
  background-color: rgb(175, 105, 78);
}

.two {
  background-color: rgb(175, 105, 78);
}

.three {
  background-color: rgb(175, 105, 78);
}

.one .img-box {
  width: 15.5vw;
  height: 15.5vw;
  border-radius: 100%;
  background-image: url("../image/aid.jpg");
  background-size: cover;
}

.two .img-box {
  width: 15.5vw;
  height: 15.5vw;
  border-radius: 100%;
  background-image: url("../image/warning.jpg");
  background-size: cover;
}

.three .img-box {
  width: 15.5vw;
  height: 15.5vw;
  border-radius: 100%;
  background-image: url("../image/donate.jpg");
  background-size: cover;
}

.service-box .blur {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.service-box:hover .blur {
  transition: opacity 0.5s ease;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 116, 37, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather";
  font-size: 25px;
  color: white;
}

.logo-img {
  width: 50px;
  margin-right: 10px;
}
html {
        overflow: auto;
}
